$blue: #4099ff !default;
$background: #2c2f38 !default;
$item: #ffffff !default;

.sidebar {
    width: 200px;
    min-height: 100vh;
    background-color: $background;
    border:none;
    
    .sidebar-item{
        display: flex;
        flex-direction: column;
        &:hover {
            background: darken($background, 5%);
            border-radius: 15px;
        }
        .sidebar-link{
            color: $item;
            margin: 1em;
            text-decoration: none;
        }
    }
}